<% provide :title, t(".title") %>
<h1><%= t ".h1" %></h1>
<p>
  <%= link_to t(".rortut"), Settings.url.railstut %>
  <br>
  <%= link_to t(".learnenough"), Settings.url.learnenough %>
  <br>
  <%= link_to t(".book"), Settings.url.book %>
  <br>
  <%= link_to t(".screencasts"), Settings.url.screencasts %>
  <br>
  <%= link_to t(".ror"), Settings.url.ror %>
</p>
