<h1><%= t ".title" %></h1>
<p><%= t ".click_link" %></p>
<%= link_to t(".reset_password"), edit_password_reset_url(id: @user.reset_token,
email: @user.email) %>
<p><%= t ".expire" %></p>
<p><%= t ".ignore" %></p>
