<footer class="footer">
  <small>
    <%= link_to t(".rortut"), Settings.url.railstut %> -
    <%= link_to t(".author"), Settings.url.michaelhartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.url.news %></li>
    </ul>
  </nav>
</footer>
